<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/static/admin-app/mailhub.png" />
    <title>MailHub 管理后台</title>
    <script type="module" crossorigin src="/static/admin-app/assets/index-CLomVX-w.js"></script>
    <link rel="stylesheet" crossorigin href="/static/admin-app/assets/index-Dxnrst8m.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
